body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    color: #000;
}

button {
    padding: 50px,100px1;
    background-color: burlywood;
    color: floralwhite;
    border: none;
    cursor: pointer;
}